
body, html {
    height: 100%;
  }

  nav {
    color: white;
    background: white;
  }

   /* Full height image header */
   .bgimg-1 {
    /*background-position: center;*/
    background-size: cover;
    background: Linear-gradient( #DBFF33, #ba382f, #33F3FF); 
    min-height: 100%;
  }
   
  .profileImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 150px;
  }

  .arrow{
    position: relative;
    font-size: 48px;
    text-align: center;
    transform: rotate(90deg);
    animation: bouncearrow 1s infinite;
    color: #ffc728;
  }

@-webkit-keyframes bouncearrow{
  0%{top: 0px;}
  50%{top: 20px; color: #000000;}
  100%{top: 0px;}
}

@keyframes bouncearrow{
  0%{top: 0px;}
  50%{top: 20px; color: #000000;}
  100%{top: 0px;}
}

  .heading1 {
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    color: #53b8b8;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
    border-bottom-style: dotted;
   
  }

  h2, h3{
    text-align: center;
    font-style: bold;
    font-size: 45px;
    font-display: "Georgia", "sans serif";
   }

   /*about page*/

   #about {
    background-image: url("../images1/background2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  p {
    font-size: 20px;
  }
 
 
  /*portfolio page*/
  
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 20px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 10px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #5DB6AC;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 15px;
  }

  /*Contact Page*/

  #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 80px);
  }
  
  .main-section {
    float: left;
    width: 50%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }

  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #5DB6AC;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #5DB6AC;
    border: 0 none;
    margin-top: 10px;
  }

  .icons {
    position: absolute;
    margin-top: 30px;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 80px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 30px 15px 5px 15px;
  }
  
  .fa:hover {
      opacity: 2.0;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-github {
    background: #125688;
    color: white;
  }
  
 /*Footer*/

 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #666666;
  color: #cccccc;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  height: 35px;
}
