
body, html {
   height: 100%;
  }

  /*navbar*/
.navbar {
  font-size: 3vh;
  background-color: #FFCCBC;
}
li a {
  color: black;
}
  /*Home*/

.bgimg-1 {
    background-size: cover;
    background: Linear-gradient(#00887A, #FFCCBC, #00887A); 
    min-height: 100%;
  }
   
  .profileImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 150px;
  }

  .arrow{
    position: relative;
    font-size: 48px;
    text-align: center;
    transform: rotate(90deg);
    animation: bouncearrow 1s infinite;
    color: #ffc728;
  }

@-webkit-keyframes bouncearrow{
  0%{top: 0px;}
  50%{top: 20px; color: #000000;}
  100%{top: 0px;}
}

@keyframes bouncearrow{
  0%{top: 0px;}
  50%{top: 20px; color: #000000;}
  100%{top: 0px;}
}

  .heading1 {
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    color: #00887A;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
    border-bottom-style: dotted;
  }

  h2, h3 {
    text-align: center;
    font-style: bold;
    font-size: 45px;
    font-family: "Apple Chancery", cursive;
  }

  h3 a {
     color: #00887A;
     background-color: #FFCCBC;
   }

   /*about page*/

   #about {
    background-image: url("../images1/background2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about-container {
    padding: 50px 16px;
  }
 
  p {
    font-size: 20px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    color: #00887A;
    margin-top: 20px;
  }
 
 /*Contact Page*/

  .contact-container {
    margin-top: 30px;
    padding: 50px 16px;
  }

   #main-container {
    padding-top: 130px;
    min-height: calc(100vh - 80px);
  }
  
  .main-section {
    float: left;
    width: 50%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }

  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #FFCCBC;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    background: #FFCCBC;
    border: 0 none;
    margin-top: 10px;
  }

  .icons {
    position: absolute;
    margin-top: 30px;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 80px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 30px 15px 5px 15px;
  }
  
  .fa:hover {
      opacity: 2.0;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-github {
    background: #125688;
    color: white;
  }
  
 /*Footer*/

 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #FFCCBC;
  border-top: 8px solid #00887A;
  height: 60px;
}

.footer p {
  color: black;
  text-align: center; 
  margin-top: 15px;
}
